_ide_helper.php
/node_modules
/public/storage
/public/css/app.css
/public/css/app.css.map
/public/js/app.js
/public/js/app.js.map
/public/service-worker.js
/public/service-worker.js.map
/public/mix-manifest.json
/public/avatars
/public/img/generated/*.png

/public/.htaccess
/public/robots.txt
/public/sitemap.xml

/public/assets/css/style.css
/public/assets/css/icons.css
/public/assets/.sass-cache

/vendor
/.idea
Homestead.json
Homestead.yaml
.env
/public/.sass-cache
/fabfile.pyc
