
a.naked-link {
    text-decoration: none;
    color: inherit;
    &:hover {
        text-decoration: underline;
        color: $secondaryColor;
    }
}

a {
    transition: all 0.25s ease;
}

a.btn {
    background-color: white;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    color: $secondaryColorDark;
    display: inline-block;
    transition: all 0.25s ease;
    margin-top: -20px;
    margin-right: -3px;
    // font-size: 80%;
    @extend .font-small;
    &:hover {
        background-color: $secondaryColorLightest;
    }
    padding: 4px 14px;
    border-radius: 5px;
    text-decoration: none;
}