.footer {
    @extend .font-90;
    color: $grayLight;
    padding: 1em 2em;

    transition: all 0.25s ease;
    opacity: 0.3;
    &:hover {
        opacity: 1;
    }

    .footer--inner {
        .footer--column {
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
            }
        }

        .email-signup {
            input.text {
                background-color: white;

                &::placeholder {
                    color: $grayEvenLighter;
                }
            }

            .btn {
                color: inherit;
                &:hover {
                    color: white;
                }
            }
        }
    }
}