input.text, textarea.text {
    padding: 7px 10px;
    border: 1px solid $grayEvenLighter;
    border-radius: 5px;

    &::placeholder {
        color: $grayLighter;
    }
}

.toasted.toasted-primary {
    background-color: $thirdColor !important;
}

.v--modal-overlay {
    .v--modal {
        @extend .p-2;

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
    }
}
