input.text, textarea.text {
    border: 1px solid $grayEvenLighter;
    border-radius: 5px;
    transition: all 0.25s ease;

    &::placeholder {
        color: $grayLighter;
    }
}

.toasted.toasted-primary {
    background-color: $thirdColor !important;
}

.v--modal-overlay {
    .v--modal {
        padding: 2em; // todo figure out how to @apply here

        ul {
            list-style-type: none;
        }
    }
}
