body, html {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $grayLightest;
    font-family: Nunito, sans-serif;
}

.bold {
    font-weight: bold;
}

.font-small {
    font-size: 80%;
}

.mb-1 {
    margin-bottom: 0.8em;
}