body, html {
    margin: 0;
    height: 100%;
    //display: flex;
    //align-items: center;
    //justify-content: center;
    background-color: $secondaryColorLightest;
    background-image: url("/img/black-thread-light.png");
    background-repeat: repeat;
    font-family: Nunito, sans-serif;
}

.centered {
    text-align: center;
}


.page {
    .header {
        i {
            position: absolute;
            left: 1em;
            top: 1em;
        }
    }
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(130, 128, 128, 0.48), rgba(0, 0, 0, 0));
    margin-top: 3em;
    margin-bottom: 3em;
    margin-left: 20%;
    margin-right: 20%;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

.flex-4 {
    flex: 4;
}

.flex-5 {
    flex: 5;
}

.width-100 {
    width: 100%;
}

.width-40p {
    width: 40px;
}

.no-border {
    border: none;
}

.inline-block {
    display: inline-block;
}

.relative {
    position: relative;
}