.page-profile {
    .nav .nav--search {
        display: none;
        @media screen and (min-width: 576px) {
            display: inline-block;
        }
    }

    .header {
        img {
            border: solid 4px $secondaryColor;
        }
    }

    .tag {
        margin: 1px 3px;
        background-color: $secondaryColorLighter;
        border-color: $secondaryColorLighter;

        &:hover {
            background-color: $secondaryColorLight;
        }

        &.isUpvotedByMe {
            @extend .border-secondary-color-dark;
        }
    }

    .editable-headline textarea {
        height: 4em;
        background: none;
    }

    .editable-about textarea {
        height: 21em;
        border: none;
    }

    p {
        @apply .mb-3;
        &:last-child {
            margin-bottom: 0;
        }
    }

    .endorsements {
        .avatar {
            flex: 0 0 69px;
        }

        h1 {
            font-size: inherit;
            font-style: italic;
            margin-bottom: 0.5rem;
        }
    }
}