.page-profile {
    .header {
        i {
            position: absolute;
            left: 1em;
            top: 1em;
        }
    }

    .card {
        max-width: 500px;
    }

    .tag {
        margin: 2px 6px;
        background-color: $secondaryColorLighter;
    }

    img {
        border-radius: 50%;
        width: 100px;
    }
}