.page-profile {
    .tag {
        margin: 2px 6px;
        background-color: $secondaryColorLighter;
        &:hover {
            background-color: $secondaryColorLight;
        }
    }

    img {
        border-radius: 50%;
        width: 100px;
    }
}