.page-saved-search {
    // nada
}

.saved-search-card {
    .user-name {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
    }
    .user-avatar {
        .is-present {
            right: 4%;
            bottom: 8%;
            color: green;
            font-size: 14px;
        }
    }
}