.page-search {
    .tag {
        font-size: 0.75rem;
    }

    .nav .nav--search {
        display: none;
    }

    .card--inner {
        .card--tags {
            flex-basis: auto;
            @apply .ml-0 .mt-4;
            @media screen and (min-width: 576px) {
                @apply .ml-4 .mt-0;
                flex-basis: 0;
            }
        }
    }
}