.page-upvote {
    .hero {
        h1 {
            font-family: serif;
            font-weight: normal;
            font-style: italic;
            font-size: 1.5rem;
            @media screen and (min-width: 576px) {
                font-size: 2rem;
            }
        }
        p {
            display: none;
        }
    }

    p {
        @apply .mb-3;
        &:last-child {
            margin-bottom: 0;
        }
    }

    .card {
        h1 {
            display: none;
        }
    }
}

.upvote-twitter-card {
    padding-right: 35px !important;

    i.fa-bolt {
        right: 28px;
        top: 25px;
        font-size: 9rem;
        opacity: 0.05;
        color: black;
    }

    .avatar-wrapper {
        img {
            width: 4rem;
            height: 4rem;
        }
    }

    .message {
        max-height: 10.5rem;
        overflow: hidden;
        line-height: 1.2;

        h1 {
            font-weight: normal;
            font-style: italic;
            margin-bottom: .25rem;
            font-size: 2rem;
            line-height: inherit;
        }

        p {
            font-size: 1.5rem;
            line-height: inherit;
            font-weight: normal;
            font-style: italic;
        }

        &:before {
            content:'';
            width:100%;
            height:100%;
            position:absolute;
            left:0;
            top:0;
            background:linear-gradient(transparent 100px, white);
        }
    }

    .author-wrapper {
        right: 38px;
        bottom: 0.75rem;
    }
}