.saved-searches {
    .card {
        width: 33rem;
        overflow: visible;

        h3 {
            margin-top: 43px;
            color: white;
        }

        .card--background {
            height: 81px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        .card--inner {
            margin-top: 5rem;
        }

        .card--avatar {
            position: absolute;
            top: -33px;
            text-align: center;
            width: 100%;

            .card--avatar--inner {
                display: inline-block;

                .icon-wrapper {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 4rem;
                    height: 4rem;
                    font-size: 2rem;
                    color: white;
                    @apply .rounded-full .bg-secondary .border-2 .border-secondary-light;
                }
            }
        }

        .saved-search--users {
            .saved-search--user {
                flex-basis: 9rem;

                .mini-card {
                    border-radius: 5px;
                    transition: all 0.25s ease;
                    @apply .bg-gray-lightest;
                    &:hover {
                        @apply .bg-gray-lighter;
                    }

                    .headline {
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        line-height: 1rem;

                        // Had to inline style tag this because npm run watch is dropping it - rannnnndom
                        // -webkit-box-orient: vertical;
                    }
                }
            }
        }
    }
}

.saved-search-card {
    .user-name {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
    }
    .user-avatar {
        .is-present {
            right: 4%;
            bottom: 8%;
            color: green;
            font-size: 14px;
        }
    }
}