.tag {
    overflow: hidden;
    cursor: pointer;
    display: inline-block;
    border-radius: 5px;
    margin: 0.25em;
    padding: 0.25em 0.8em;

    transition: all 0.25s ease;

    background-color: $grayLightest;
    color: $grayLight;
    &:hover {
        background-color: $grayLighter;
        color: $gray;
    }

    .fa-thumbs-up {
        transition: all 0.25s ease;
        margin-left: -2.2em;
        padding-right: 8px;
        &.upvoted {
            font-weight: bold;
        }
    }
    &:hover {
        .fa-thumbs-up {
            margin-left: 0;
            padding-right: 2px;
        }
    }

    i {
        font-size: 76%;
        opacity: 0.6;
    }

    .tag-count {
        padding-left: 3px;
        opacity: 0.6;
    }
}
