.nav {
    @media screen and (min-width: 1025px) {
        opacity: 0.3;
        filter: grayscale(100);
        transition: 0.25s ease all;

        &:hover {
            opacity: 1;
            filter: none;
        }
    }

    .logo img {
        &:hover {
            transform: scale(1.1);
        }
    }

    .logged-in-menu {
        position: absolute;
        z-index: 2;
        top: 6rem;
        right: 2rem;
        width: 12rem;
    }

    i {
        color: $grayLight;
        &:hover {
            color: $highlightColor;
        }
    }

    i.search {
        font-weight: bold;
    }

    .notification-wrapper {
        .notification-list {
            position: absolute;
            z-index: 2;
            top: 3rem;
            right: 0;
        }

        .alert-bubble {
            top: 11px;
            right: -4px;
            width: 16px;
            height: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-size: 11px;
        }
    }

    img.avatar {
        border-color: $primaryColor;
        &:hover {
            border-color: $highlightColor;
        }
    }
}