h1, h2, h3 {
    margin: 0;
    line-height: 1.1;
}

h3 {
    @extend .mb-1;
}

.bold {
    font-weight: bold;
}

.font-small, .font-80 {
    font-size: 80%;
}

.font-90 {
    font-size: 90%;
}

.font-70 {
    font-size: 70%;
}

.font-120 {
    font-size: 120%;
}

.font-150 {
    font-size: 150%;
}

.font-200 {
    font-size: 200%;
}

.opacity-70 {
    opacity: .7;
}