h1, h2 {
    margin: 0;
    line-height: 1.1;
}

.bold {
    font-weight: bold;
}

.font-small {
    font-size: 80%;
}

.font-70 {
    font-size: 70%;
}

.font-120 {
    font-size: 120%;
}

.font-200 {
    font-size: 200%;
}