
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

/** Reference: https://coolors.co/ffcb08-45b4c5-f8af70-ffffff-000000 */
$black: #22292F;
$grayDarker: #2E2E2E;
$grayDark: #454545;
$gray: #5C5C5C;
$grayLight: #8B8B8B;

$grayLighter: #E7E7E7;
$grayLightest: #F5F5F5;

$primaryColor: #7cdbd5;
$primaryColorLight: #9FE4E0;
$primaryColorLighter: #C3EEEB;
$primaryColorLightest: #F3FBFB;

$secondaryColorDark: #E3AD02;
$secondaryColor: #f9be02;
$secondaryColorLight: #FACF47;
$secondaryColorLighter: #FCE18C;
$secondaryColorLightest: #FEF9E8;

$thirdColor: #02c8a7;

$highlightColorDark: #C92935;
$highlightColor: #F53240;
$highlightColorLight: #F98F96;

.bg-secondary-color-lightest {
    background-color: $secondaryColorLightest;
}