
@tailwind preflight;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import 'typography';
@import 'general';
@import 'buttons';
@import 'card';
@import 'chat';
@import 'layout';
@import 'footer';
@import 'forms';
@import 'saved-search';
@import 'tags';
@import 'top-nav';
@import 'algolia';

@import 'page-profile';
@import 'page-search';
@import 'page-upvote';
@import 'page-twitter-card';

@tailwind utilities;